$font-family: Arial, "Microsoft Yahei", "微软雅黑", "宋体" !important;

$blue1: #00f0ff;
$blue2: #23a4ff;
$blue3: #02528a;
$red: #ff0221;
$green: #00ff84;
$gray: #b1d2dd;
$yellow:#ff7200;
$yellow1:#ff8c10;
$yellow2:#fbd023;
$yellow3:#ff9d00;


